/* risk indicator classes */
.rt-risk-low {color: #090 !important; font-weight: bold; }
.rt-risk-high { color: #c00 !important; font-weight: bold; }
.rt-risk-medium { font-weight: bold; }

/* progress bar */
.rt-plugin-report-progress-outer {
	width: 100%;
	height: 1em;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.rt-plugin-report-progress-inner {
	width: 0%;
	height: 1em;
	background-color: #0073aa;
}